@import "tailwindcss";

/* 1. Esto le dice a Tailwind v4 que use la clase .dark para los estilos */
@variant dark (&:where(.dark, .dark *));

/* 2. Definimos colores base usando variables CSS */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

/* 3. Aplicamos esos colores globalmente */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-500;
  }
}